name: Hello World Workflow

on:
  push:
    branches:
      - main

jobs:
  hello-world-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Run Hello World
        run: echo "Hello World from GitHub Actions!"
      
      - name: List files
        run : ls

      - name: read file
        run: cat README.md

